/*!
 * Guilherme Mamedio
 * Projeto ESOFT II
 * 10:36 14/03
 */

body {
    margin-top: 100px;
    background-color: rgba(25, 129, 17, 0.9);
    overflow-x: hidden;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;

    }
}
.titulo h1, .titulo i
{
    color: #fff;
}
#wrapper {
    padding-left: 0;
    width: 100%;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);;

}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */
.navbar-nav *, .side-nav *, .navbar-header a{
     color: black;

 }
.side-nav li
{
    background-color: rgba(10, 108, 10, 0.9);
}
.navbar-nav>li i
{
    color: #fff;
}
.nav-bar, .navbar-inverse, .navbar-fixed-top{
    background-color: rgba(10, 108, 10, 0.9);
    border-color: rgba(10, 108, 10, 0.9);
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #ffffff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color:white;
    background-color: rgba(10, 108, 10, 0.79);
}

.side-nav>li:hover
{
    background-color: rgba(10, 108, 10, 0.49);
}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgb(255, 255, 255);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 6px 12px rgba(10, 108, 10, 0.79);
    box-shadow: 0 6px 12px rgba(10, 108, 10, 0.79);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
    color: black;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */
.nav a,.navbar-nav a,.side-nav a{
    color: white;
}
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: rgba(255,255,255, .7);
        bottom: 0;
        color: white;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: medium none;
        background-color: rgba(10, 108, 10, 0.79) !important;
    }
    .side-nav>li>ul>li>a:hover,
    .side-nav>li>ul>li>a:focus, .lista>li>a:hover, .lista>li>a:hover {
        outline: medium none;
        background-color: rgba(255,255,255,0.3) !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}
.ativo{
    background-color: rgba(10, 108, 10, 0.79);
    color: white;
}
.ativo>a, .ativo i
{
    color: white !important;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: white;
}

.side-nav>li>ul>li>a:hover {
    color:white;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #ed6e6a;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.btn-circle
{
    width: 24px;
    height: 24px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    line-height: 0;
}

.lista
{
    list-style: none;
}

.lista li a
{
   display: block;
   height: 30px;
   width: 185px;
}

.lista li a:hover
{
    text-decoration: none;
}